<div class="FooterLogo">
    <a href="../../index.html">
        <img src="/assets/graphics/svg/grayLogo.svg" id="FooterLogo">
    </a>
</div>

<div class='FooterPlayer'>
    <div></div>
    <div class = "FooterPlayerAudio">
        <div class ='FooterSoundWave'>
            <audio controls> 
                <source src="/assets/audio/Kirk Osamayo - Peace And Love.mp3" autoplay="True" type='audio/mp3'> </source>
            </audio>
        </div>
        <div class="FooterVolumeControls">
            <button id = "Like" background-color="aqua">
                <img src="/assets/icons/black/like.svg" alt="like" class = 'LikeButton' id = 'volumeDownIcon' width="30px">
            </button>
            <button id = "Dislike" background-color="aqua">
                <img src="/assets/icons/black/dislike.svg" alt="like" class = 'DislikeButton' id = 'volumeDownIcon' width="30px">
            </button>

        </div>
    </div>
    <div class="FooterMetadata">
        <img src="/assets/images/music.jpg" id="FooterSongAlbumArt">
        <figcaption>
            <p>Album - Song</p>
        </figcaption>
    </div>
    <div></div>
</div >

<div class='FooterProfile'>
    <div>
        <button class="ButtonFooter">
            <a href="../listener/listener_profile.html"><img src="/assets/icons/white/profile.svg" id="ProfilePicture"></a>
        </button>

        <button class="ButtonFooter">
                    <img src='/assets/icons/white/settings.svg' id="Settings">
        </button>
    </div>
    <div>
        <p>Location Here</p>
    </div>
</div>