<nav id="navigation">
  <ul id = "leftNav"> 
      <li>
          <a href="../listener/listenerMain.html">Home</a>
      </li>
      <li>
          <a href="listener_timeline.html">Timeline</a>
      </li>
      <li>
          <a href="listener_explore.html">Explore</a>
      </li>
  </ul>
  <span id="navLogo">
      <a href="../../index.html">
          <img src="/assets/graphics/svg/grayLogo.svg" alt="">
      </a>
  </span>
  <ul id="rightNav">
      <li>
          <a href="listener_news.html">News</a>
      </li>
      <li>
          <a href="listener_library.html">Library</a>
      </li>
      <li>
          <a href="listener_about.html">About</a>
      </li>
  </ul>
</nav>