<!DOCTYPE html>
     
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/listener_explore.css">
     </head>
     
     <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        
        <main>
            <div class="explore-DJs">
                <h2>Explore More DJs!</h2> 
                <div class="DJList">
                    
                    <div class="LeftArrow">
                        <img id="DJLeftArrow" src="../../assets/icons/LeftArrow.svg">
                    </div>

                    <div class="DJImage1">
                        <button>
                            <a href="#">DJ Name 1</a>
                        </button>
                    </div>
                    
                    <div class="DJImage2">
                        <button>
                            <a href="#">DJ Name 2</a>
                        </button>
                    </div>
                    
                    <div class="DJImage3">
                        <button>
                            <a href="#">DJ Name 3</a>
                        </button>
                    </div>
                    
                    <div class="DJImage4">
                        <button>
                            <a href="#">DJ Name 4</a>
                        </button>
                    </div>
                    
                    <div class="DJImage5">
                        <button>
                            <a href="#">DJ Name 5</a>
                        </button>
                    </div>
                    
                    <div class="RightArrow">
                        <img id="DJRightArrow" src="../../assets/icons/RightArrow.svg">
                    </div>

                </div>
            </div>

            <div class="explore-genres">
                
            </div>

            <div class="explore-playlist">

            </div>

        </main>
        
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
     </body>
</html>