<!DOCTYPE html>   
      <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/listener_main.css">
      </head>
     
      <body>
         <header>
            <%- include('../partials/header'); %>
        </header>
        <p style='color: white;'>
         Session Cleared! New Session Created!
        </p>
        <footer>
          <%- include('../partials/footer');%>
       </footer>
    </body>
</html>