<!DOCTYPE html>
     
      <head>
        <%- include('../partials/head');%>
        <link rel="stylesheet" href="/css/listener_main.css">
      </head>
     
      <body>
         <header>
            <%- include('../partials/header'); %>
        </header>

        <footer>
          <%- include('../partials/footer');%>
       </footer>
    </body>
</html>