<!DOCTYPE html>
     
      <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="./css/main.css">
      </head>
     
      <body>
         <header>
            <%- include('../partials/header'); %>
        </header>
    </body>
</html>